body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

a {
    text-decoration: none;
}

.row-header {
    margin: 0px auto;
    padding: 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #DEB3AD;
    color: floralwhite;
}

.btn {
    text-decoration: none;
    background: #B95C50;
    color: wheat;
    border: none;
}

.btn:hover {
    color: #fff;
    background: #3B0404;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}


.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #B95C50;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: #fff;
}

.navbar-dark {
    background-color: #3B0404;
}

.card-header {
    background-color: #B95C50;
}

thead {
    background-color: #B95C50;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs a {
    color: #3B0404;
    font-weight: bold;
}

.carousel {
    background: #B95C50;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.form-section > :nth-child(2) .btn {
    background-color: green;
}

.form-section > :last-child .btn {
    background-color: red;
}
